body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

.id-card {
    width: 350px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px auto;
}

.id-card h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.top-section {
    display: inline-block;
    width: 100%;
}

.photo {
    width: 100px;
    height: 130px;
    object-fit: cover;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.info {
    font-size: 14px;
}

.bottom-section {
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}